<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.phonegap.gettingstarted"
	version 	= "1.0.0">

	<name>Gemini</name>

	<description>
		This software lets you keep track of things via GPS.
	</description>

	<author href=""
		email="x@ext.no-route.org">
		syso
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/device"/>

	<preference name="orientation" value="portrait" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="phonegap-version" value="3.5.0" />
	
	<access origin="*" />
</widget>
